.detailsNavbar {
  background: rgb(158, 144, 144);
  background: linear-gradient(
    270deg,
    rgba(158, 144, 144, 1) 17%,
    rgba(139, 126, 126, 1) 81%
  );
}
.homeButton,
.navbarArrow {
  color: var(--mint-bs-);
}
.homeIcon {
  color: var(--mint-bs-);
  align-items: center;
  margin-top: -5px;
  height: 20px;
  width: 22px;
}
.aButtonNav {
  color: black;
  text-decoration: none;
}
.aButtonNav:hover,
.homeIcon:hover {
  color: white;
  text-decoration: none;
}
.titleDetails {
  padding-top: 1rem;
  font-size: 2rem;
  border-bottom: 1px solid var(--mint-bs-);
}
.aboutUs h1,
.profilePics h1 {
  font-family: pacifico;
  margin-bottom: 2rem;
}
.aboutUs p {
  font-size: 16px;
}

.profilePics div {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
}
.aboutUsImg1 {
  background-image: url("https://images.pexels.com/photos/894695/pexels-photo-894695.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center center;
  background-size: cover;
}
.aboutUsImg2 {
  background-image: url("https://images.pexels.com/photos/302899/pexels-photo-302899.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center center;
  background-size: cover;
}
.aldana {
  background-image: url("/assets/images/aldana.jpeg");
  background-position: center center;
  background-size: cover;
}
.thomas {
  background-image: url("/assets/images/thomas.png");
  background-position: center center;
  background-size: cover;
}
.alexia {
  background-image: url("/assets/images/alexia.jpeg");
  background-position: center center;
  background-size: cover;
}
.jose {
  background-image: url("/assets/images/jose.jpg");
  background-position: center center;
  background-size: cover;
}
.profilePics div {
  height: 25rem;
}
.membersDescription{
  background-color:rgb(219,219,219);
  background: radial-gradient(circle, rgba(219,219,219,0.919502835313813) 28%, rgba(255,255,255,0.6113795860140931) 66%);
  color: var(--brown-bs-);
  font-family: pacifico;
}
@media (max-width: 768px) {
  .aboutUsImg1 {
    height: 20rem !important;
  }
  .aboutUsImg2 {
    height: 20rem !important;
  }
}
