:root {
  --brown-bs-: rgb(101, 54, 42);
  --sweetMint-bs-: rgb(255, 255, 255);
  --mint-bs-: rgb(117, 209, 195);
  --ashGrey-bs-: rgba(119, 109, 109, 1);
  --sonicSilver-bs-: rgb(116, 114, 116);
}

@font-face {
  font-family: pacifico;
  src: url(../assests/fonts/Pacifico.ttf);
}

@font-face {
  font-family: victorBoldItalic;
  src: url(../assests/fonts/VictorMono-BoldItalic.otf);
}

@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BOTONES */
.btnCoffee {
  background-color: var(--mint-bs-);
  color: var(--sweetMint-bs-);
  border-radius: 30px;
  transition: 0.1s;
}

.btnCoffee:hover {
  background-color: var(--brown-bs-);
  color: var(--sweetMint-bs-);
  border-color: var(--brown-bs-);
  transition: 0.1s;
}

/* HEADER */
h1 {
  font-family: pacifico;
  padding-right: 2rem;
  color: var(--mint-bs-);
}
/* TITULOS */
h2 {
  font-family: victorBoldItalic;
  color: var(--brown-bs-);
}

body {
  font-family: "Barlow Condensed", sans-serif;
}
.containerHeader {
  background-color: var(--ashGrey-bs-);
}
.containerHeader .collapse > ul a {
  color: var(--sweetMint-bs-);
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.5rem;
}
.containerHeader .collapse > ul a:hover {
  color: var(--mint-bs-);
  transition: 0.8s;
}
.botonBuscar button {
  width: 6.3rem;
  font-size: 1.05rem;
}
.botonBuscar button:hover {
  color: var(--sweetMint-bs-);
  background-color: var(--brown-bs-);
}
.search {
  margin-right: -4rem;
  border-radius: 15px;
}
.collapseNavButton {
  border-color: var(--mint-bs-);
}
/* CONTENEDORES DEL MAIN */
.sidebar {
  background: var(--ashGrey-bs-);
}
.center {
  background-color: var(--sweetMint-bs-);
}
.advertisement {
  background-color: var(--ashGrey-bs-);
}
.videoContainer {
  width: 100%;
  height: 80vh;
}
.videoContainer > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* EFECTO SIDEBAR */
.listSidebar {
  background-color: transparent;
  border: none;
  list-style: none;
}
.sidebar ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.sidebar li {
  float: none;
  width: 90%;
  padding: 4px;
}
.sidebar li a {
  display: block;
  width: 90%;
  padding: 10px;
  border-left: 5px solid;
  position: relative;
  z-index: 2;
  font-size: 1.1rem;
  text-decoration: none;
  color: white;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 10px;
}
.sidebar li a:hover {
  border-bottom: 0px;
  color: rgb (15, 24, 26);
}
.sidebar li:first-child a {
  border-left: 10px solid rgb(117, 209, 195);
}
.sidebar li:nth-child(2) a {
  border-left: 10px solid rgb(117, 209, 195);
}
.sidebar li:nth-child(3) a {
  border-left: 10px solid rgb(117, 209, 195);
}
.sidebar li:last-child a {
  border-left: 10px solid rgb(117, 209, 195);
}
.sidebar li a:after {
  content: "";
  height: 100%;
  left: 0;
  top: 0;
  width: 0px;
  position: absolute;
  transition: all 0.2s ease 0s;
  -webkit-transition: all 0.2s ease 0s;
  z-index: -1;
}
.sidebar li a:hover:after {
  width: 100%;
  border-end-end-radius: 10px;
  border-top-right-radius: 10px;
}
.sidebar li:first-child a:after {
  background: rgb(117, 209, 195);
}
.sidebar li:nth-child(2) a:after {
  background: rgb(117, 209, 195);
}
.sidebar li:nth-child(3) a:after {
  background: rgb(117, 209, 195);
}
.sidebar li:last-child a:after {
  background: rgb(117, 209, 195);
}
/* EFECTOS CARDS */
.card {
  width: 90%;
  height: 90%;
  border: 1px solid;
  border-color: var(--sweetMint-bs-);
  cursor: pointer;
  transition: all 0.25s ease;
  backface-visibility: hidden;
}
.card:hover {
  transform: scale(0.9);
}
.card:hover:after {
  height: 5rem;
}
.card:hover .card-body p {
  margin-bottom: 0;
  opacity: 1;
}
.card:hover img {
  transform: scale(1.25);
  opacity: 25%;
}
.card::after {
  width: 100%;
  content: "";
  left: 0;
  bottom: 0;
  height: 2rem;
  position: absolute;
  background: linear-gradient(
    180deg,
    rgba(103, 103, 103, 0) 0%,
    rgba(75, 75, 75, 0.999) 100%
  );
  z-index: 20;
  transition: all 0.25s ease;
  border-radius: 3px;
}
.card img {
  height: 100%;
  z-index: 10;
  transition: all 0.25s ease;
}
.card .card-body {
  z-index: 30;
  position: absolute;
  bottom: 0;
  color: rgb(27, 27, 27);
  border-radius: 10px;
  font-weight: 400;
  height: 100%;
  width: 100%;
}
.card .card-body > p {
  font-size: 1rem;
  opacity: 0;
  transition: all 0.25s ease;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Barlow Condensed", sans-serif;
}
.cardButton {
  border-radius: 30px;
  border: 1px solid var(--mint-bs-);
  margin-top: 0.5rem;
}
.cardButton:hover {
  background-color: var(--mint-bs-);
  color: var(--sweetMint-bs-);
  transition: 0.1s;
  border: 1px solid var(--mint-bs-);
  border-radius: 30px;
}
/* ESTILO PAGINADO */
.pagination .active a {
  background-color: var(--mint-bs-);
  border: none;
  border-radius: 30px;
}
.pagination > .active a:first-child,
.active a:last-child {
  border-radius: 30px;
}
.pagination .active a:hover {
  background-color: var(--brown-bs-);
  border: none;
}
/* PUBLICIDAD */
.publicity {
  height: 45vh;
  width: 15vw;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
}
/* FOOTER */
.footer {
  background-color: var(--sonicSilver-bs-);
}
@media (max-width: 768px) {
  .advertisement {
    display: none;
  }
}
@media (max-width: 992px) {
  .sidebar li a {
    display: block;
    width: 80%;
    border-left: 5px solid;
    position: relative;
    z-index: 2;
    font-size: 0.8rem;
    text-decoration: none;
    color: rgb(240, 240, 240);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 10px;
  }
}
@media (max-width: 576px) {
  .sidebar li a {
    width: 70px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
